body {
   background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center; 

}

section {
    display: flex;
    flex-direction: column;
    align-items: center;     
    text-align: justify;
    width: 500px;
    
    
}

img {
    width: 400px;
    border: 1px solid white;    
}

p {
    padding-bottom: 5px;
}




