@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #5e7b8a;
    font-family: "Roboto", sans-serif;

}

.section-login {
    width: 400px;
    margin: 30px auto;
    padding: 1rem 1rem 2rem 1rem;
    background-color: #fefefe;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 10px;
}


.section-login>h1 {

    font-weight: 500;
    margin-bottom: 20px;
    color: #90c0bd;
}

.section-login form {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.input-group {
    width: 100%;
    height: 42px;

    border: 1px solid #a1a0a0;
    border-radius: 20px;

    display: flex;
    align-items: center;
    gap: 10px;

    padding: 0 15px;
}

.input-group input {
    flex: 1;
    height: 100%;

    border: none;
    outline: none;
    font-size: 12pt;

}

.input-group input::placeholder {
    color: #a1a0a0;
}


#btn-login {
    width: 100%;
    display: block;
    margin: 0 auto;
    background-color: #43aaa7;
    padding: 10px;
    border-radius: 20px;
    border: none;
    font-size: 12pt;
    font-weight: 500;
    cursor: pointer;
    color: #fff;
}

#borda {
    border-top: 3px solid rgb(169, 169, 169);
    position: relative;
    width: 80%;
    margin: 20px 0;

}

#borda #or {
    text-align: center;
    position: absolute;
    top: -10px;
    left: 146px;
    background-color: white;
    width: 30px;
    color: #a1a0a0;
    font-weight: bold;
}


#forgot {
    text-decoration: none;
    color: #43aaa7;
    font-size: 12pt;
    margin-top: 15px;
    margin-bottom: 10px;
}

#text-social {
    font-size: 12pt;
    color: #a1a0a0;
    font-weight: 700;
    margin-bottom: 10px;
}

#social-login {
    display: flex;
    gap: 20px;
    margin: 15px 0 5px 0;
}

#social-login a {
    text-decoration: none;
    color: #a1a0a0;
    font-size: 12pt;
    background-color: #43aaa7;
    padding: 10px;
    border-radius: 50%;
}

#social-login i {
    color: #fff;
    font-size: 11pt;
}